.sliding-panel-button {
  @include grid-media($grid--desktop-lg-up) {
    display: none;
  }

  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 15px 15px;
  position: fixed;
  top: $base-spacing;
  right: $base-spacing;
  z-index: 99999;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $sky;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 9px;
  }

  span:nth-child(4) {
    top: 18px;
  }

  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /* ================================= 
    DESKTOP
  ==================================== */

  //   @include media($desktop) {
  //     padding: 30px 30px;

  //     span {
  //       height: 8px;
  //     }

  //     span:nth-child(2),
  //     span:nth-child(3) {
  //       top: 18px;
  //     }

  //     span:nth-child(4) {
  //       top: 36px;
  //     }
  //   }
}
