.post {
  background: $white;
  padding: $base-spacing;
  border-radius: $base-border-radius;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  figure {
    border: solid 1px $ebony;
  }

  figcaption {
    border-top: solid 1px $ebony;
    padding: $base-spacing / 2;
    background: $oil;
    color: $vapor;
  }

  &__image {
    @include img-responsive();
  }
}
