.sidebar {
  display: none;
  background: $oil;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  @include grid-media($grid--desktop-lg-up) {
    display: flex;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;

    div {
      justify-content: center;
      align-items: center;
    }
  }

  &__nav-link {
    display: block;
    transform: rotate(-90deg);
    // padding: $base-spacing / 2;
    // margin: $base-spacing / 2;
  }
}

.mobile-menu {
  display: flex;
  background: $oil;
  height: 100%;
  transition: transform $base-duration ease;
  transform: translateX(-100vw);
  // &__nav {
  //   opacity: 0;
  //   flex-direction: row;
  // }

  &.is-visible {
    position: absolute;
    transform: translateX(0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    padding: $base-spacing * 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile-menu__nav {
      opacity: 1;
    }
  }
}

.mobile-menu__nav {
  opacity: 0;
  flex-direction: row;
}
