/********************
|   Global Styles   |
********************/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; }

html,
body {
  height: 100%; }

/*******************
  Utility Classes
*******************/
.page {
  padding: 1.5em; }

.container {
  padding: 1.5em;
  max-width: 80%;
  margin: 0 auto; }

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.alert {
  padding: 0.75em;
  max-width: 600px;
  margin: 0 auto; }
  .alert--success {
    border: solid 1px #00c634;
    color: #00c634; }
  .alert--warning {
    border: solid 1px #e60036;
    color: #e60036; }

:root,
html {
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 400;
  font-display: swap; }

html {
  color: #333333; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em; }

input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fafafa;
  border: solid 1px #555555;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  width: 100%; }

.invalid {
  color: #e60036;
  margin-bottom: 0.75em; }
