/********************
|   Global Styles   |
********************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

hr {
  background-color: $jumbo;
  margin-top: $base-spacing / 2;
  margin-bottom: $base-spacing / 2;
}

figure {
  margin-bottom: $base-spacing;
}

ul {
  margin-bottom: $base-spacing;
}

/*******************
  Utility Classes
*******************/

main {
  padding: $base-spacing;
  flex: 1 1 100%;
}

.page {
  padding: $base-spacing;
}

.page-wrapper {
  display: flex;
  height: calc(100vh - 44px);
  background: $oil;
}

.container {
  padding: $base-spacing;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.section-block {
  width: 100%;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-responsive {
  @include img-responsive;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert {
  padding: $small-spacing;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  &--success {
    border: solid 1px $success;
    color: $success;
  }

  &--warning {
    border: solid 1px $warning;
    color: $warning;
  }
}

.margin-above {
  margin-top: $base-spacing;
}

.margin-right {
  margin-right: $base-spacing;
}

.margin-below {
  margin-bottom: $base-spacing;
}

.margin-left {
  margin-left: $base-spacing;
}
