// Colors
$white: #ffffff !default;
$ghost: #fafafa !default;
$snow: #f9f9f9 !default;
$vapor: #f6f6f6 !default;
$white-smoke: #f5f5f5 !default;
$silver: #efefef !default;
$smoke: #eeeeee !default;
$gainsboro: #dddddd !default;
$iron: #cccccc !default;
$base: #aaaaaa !default;
$aluminum: #999999 !default;
$jumbo: #888888 !default;
$monsoon: #777777 !default;
$steel: #666666 !default;
$charcoal: #555555 !default;
$tuatara: #444444 !default;
$oil: #333333 !default;
$jet: #222222 !default;
$ebony: #111111 !default;
$black: #000000 !default;

$success: #00c634;
$warning: #e60036;
$disabled-color: $base;

$base-font-color: $oil;
$card-border-color: $gainsboro;
$base-background-color: $ghost;

$scarlet: #ff1d58;
$melon: #f75990;
$sky: #00ddff;

.text-melon {
  color: $melon;
}

.text-sky {
  color: $sky;
}

.melon {
  background: $melon;
}

.sky {
  background: $sky;
}
