@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin grid-media($media) {
  @media #{$media} {
    @content;
  }
}

@mixin img-responsive() {
  max-width: 100%;
  height: auto;
  display: block;
}
