// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "Raleway", sans-serif;
$heading-font-family: "Roboto", sans-serif;
$monospace-font-family: "Source Code Pro", monospace;

$weight-light: 300;
$weight-normal: 400;
$weight-bold: 600;

// base font size of html element
$rootsize-base: 12;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: 1rem; // $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Radi
$base-border-radius: 2px;

// Borders
$base-border: solid 1px $charcoal;
$card-border: solid 1px $card-border-color;

// Animations
$base-duration: 250ms;
$base-timing: ease;

$text-inputs-list: (
  "[type='color']",
  "[type='date']",
  "[type='datetime']",
  "[type='datetime-local']",
  "[type='email']",
  "[type='month']",
  "[type='number']",
  "[type='password']",
  "[type='search']",
  "[type='tel']",
  "[type='text']",
  "[type='time']",
  "[type='url']",
  "[type='week']",
  "input:not([type])",
  "textarea"
);

$all-text-inputs: assign-inputs($text-inputs-list);

$_buttons-list: (
  "button",
  "[type='button']",
  "[type='reset']",
  "[type='submit']"
);

$all-buttons: assign-inputs($_buttons-list);
