{% extends "layout.html" %} {% block content %}
<h1>About</h1>
<p>
  I'm baby lo-fi salvia mixtape hashtag vice affogato. Brunch retro poke raw
  denim, wayfarers DIY wolf. Photo booth scenester stumptown gochujang,
  chartreuse authentic skateboard. Gluten-free farm-to-table hexagon, paleo
  forage echo park disrupt bicycle rights crucifix asymmetrical post-ironic.
  Celiac pop-up VHS roof party ramps normcore mixtape plaid copper mug
  meditation. Yr aesthetic green juice cred fam. Glossier kale chips yuccie
  hammock everyday carry etsy asymmetrical waistcoat.
</p>
{% endblock content %}
