{% extends "layout.html" %} {% block content %}
<div class="container">
  <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <div class="form-group">
        {{ form.title.label(class="") }} {% if form.title.errors %} {{
        form.title(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.title(class="") }} {% endif %}
      </div>
      <div class="form-group">
        {{ form.tags.label(class="") }} {% if form.tags.errors %} {{
        form.tags(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.tags.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.tags(class="") }} {% endif %}
      </div>
      <div class="form-group">
        {{ form.content.label(class="") }} {% if form.content.errors %} {{
        form.content(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.content(class="") }} {% endif %}
      </div>
      {% if legend == 'Update Post' %}
      <div class="form-check">
        {{ form.is_live(class="form-check-input") }} {{
        form.is_live.label(class="form-check-label") }}
      </div>
      {% endif %}
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn") }}
    </div>
  </form>
  <div class="editor__wrapper">
    <div class="editor__controls"><button id="save">Save</button></div>
    <div id="editorjs" class="editor"></div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', filename='Editor.bundle.js') }}"></script>
{% endblock scripts %}
