{% extends "layout.html" %} {% block content %}
<h1>Design System</h1>
<div>
  <h2>Icons</h2>
  <img src="/static/icons/circle-left.svg" />
  <img src="/static/icons/circle-right.svg" />
  <img src="/static/icons/bootstrap-plain.svg" />
  <img src="/static/icons/linkedin.svg" />
  <img src="/static/icons/mail.svg" />
  <img src="/static/icons/javascript.svg" />
  <img src="/static/icons/phaser.svg" />
  <img src="/static/icons/illustrator-plain.svg" />
  <section class="section-block melon">
    <h2>Buttons</h2>
    <button class="btn btn-primary btn-icon-left icon-arrow-left">
      Previous
    </button>
    <button class="btn btn-primary btn-icon-right icon-arrow-right">
      Next
    </button>
    <button class="btn btn-primary btn-icon-right icon-edit-right">
      Edit
    </button>
    <button class="btn btn-primary btn-icon-right icon-settings-right">
      Settings
    </button>
    <button class="btn btn-primary btn-icon-right icon-tick-right">
      Submit
    </button>
    <button class="btn btn-primary btn-icon-right icon-plus-right">
      Add
    </button>
  </section>
</div>
{% endblock content %}
