<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Thomas Bullock - {{ about }}</title>
    <meta
      name="description"
      content="Portfolio and blogsite for Melbourne based web developer Thomas Bullock"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <nav class="navbar">
        <a class="navbar-brand" href="/">Flask Blog</a>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="{{ url_for('account') }}"
            >Account</a
          >
          <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
          <a class="nav-item nav-link" href="{{ url_for('register') }}"
            >Register</a
          >
          {% endif %}
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert--{{ category }}">
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
      </div>
    </main>
    <script src="" async defer></script>
  </body>
</html>
