{% extends "layout.html" %} {% block content %}
<article class="post">
  <header class="post__header">
    <h1>{{post.title}}</h1>
    {% if current_user.is_authenticated %}
    <a
      class="btn btn-primary btn-icon-right icon-edit-right"
      href="/posts/{{post.id}}/update"
      >Edit</a
    >
    {% endif %}
  </header>
  {% for block in content %} {% if block.type == 'header' %}
  <h2>{{block.data.text}}</h2>
  {% elif block.type == 'image' %}
  <figure>
    <img src="{{ block.data.file.url }}" class="post__image" />
    {% if block.data.caption %}
    <figcaption>{{block.data.caption}}</figcaption>
    {% endif %}
  </figure>
  {% elif block.type == 'paragraph' %}
  <p>{{block.data.text|safe}}</p>
  {% elif block.type == 'list' and block.data.style == 'unordered' %}
  <ul>
    {% for item in block.data['items'] %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
  {% elif block.type == 'list' and block.data.style == 'ordered' %}
  <ol>
    {% for item in block.data['items'] %}
    <li>{{item}}</li>
    {% endfor %}
  </ol>
  {% elif block.type == 'code' %}
  <pre>
    <code class="language-{{block.data.language}}">
      {{block.data.code}}
    </code>
  </pre>
  {% else %}
  <div>{{block.data.text}}</div>
  {% endif %} {% endfor %} {% endblock content %}
</article>
{% block scripts %}
<script src="{{ url_for('static', filename='prism.js') }}"></script>
<!-- <script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script> -->
<script></script>
{% endblock scripts %}
