{% extends "layout.html" %} {% block content %}
<article class="post">
  <h1>{{post.title}}</h1>
  {% for block in content %} {% if block.type == 'header' %}
  <h2>{{block.data.text}}</h2>
  {% elif block.type == 'image' %}
  <figure>
    <img src="{{ block.data.file.url }}" class="post__image" />
    {% if block.data.caption %}
    <figcaption>{{block.data.caption}}</figcaption>
    {% endif %}
  </figure>
  {% elif block.type == 'paragraph' %}
  <p>{{block.data.text|safe}}</p>
  {% elif block.type == 'list' and block.data.style == 'unordered' %}
  <ul>
    {% for item in block.data['items'] %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
  {% elif block.type == 'list' and block.data.style == 'ordered' %}
  <ol>
    {% for item in block.data['items'] %}
    <li>{{item}}</li>
    {% endfor %}
  </ol>
  {% else %}
  <div>{{block.data.text}}</div>
  {% endif %} {% endfor %} {% endblock content %}
</article>
