@import "resources";

$red: #f60034;
$blue: #3468ff;
$sky: #68a9f9;

$base-spacing: 1rem;

body {
  background: $sky;
  color: $blue;

  input {
    border: solid 1px $blue;
    padding: $base-spacing;
  }
}
